.SearchBar {
    align-items: center;
    background-color: #f0f0f0; /* Light gray background */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    display: flex;
    padding: 5px 10px;
    position: relative;
    width: 100%;
  }
  
  .SearchBar input {
    background-color: transparent; /* Remove any default styling */
    border: none;
    color: grey;
    font-size: 1rem;
    width: 100%;
  }
  
  .SearchBar input:focus {
    outline: none;  
  }
  
  .SearchBar input::placeholder {
    color: #aaa;
  }
  
  .SearchBar .SearchIcon {
    pointer-events: none; /* Makes it unclickable so the input still works */
    position: absolute;
    right: 10px;
  }
  