.Playlist {
  align-items: center; /* Centers the content */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.Playlist input {
  background-color: transparent; /* Remove any default styling */
  border: none;
  box-sizing: border-box;
  color: grey;
  font-size: 1rem;
  padding: 0;
  width: 100%; /* Full width of the container */
}

.Playlist-input {
  background-color: transparent; /* Remove any default styling */
  border: none;
  box-sizing: border-box;
  display: flex;
  width: 100%; /* Full width of the container */
}

.Playlist input:focus {
  outline: none;
}

.Playlist input::placeholder {
  color: #aaa;
  text-align: center;
}

.Playlist-tracks {
  flex-grow: 1; /* Expand to take the remaining space */
  width: 100%; /* Full width of the container */
  display: flex;
  flex-direction: column; /* Display tracks vertically */
}

.Playlist-track {
  align-items: center;
  box-sizing: border-box;
  color: #333; /* Dark text for track name */
  display: flex;
  padding-left: 10px;
  
}

.Playlist-track-action {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #1db954; /* Spotify green for remove button */
  font-size: 1rem; /* Adjust button size */
  margin-left: 10px;
  padding: 0px;
}

.Playlist-track span {
  flex-grow: 1;
  font-size: 0.5rem;
  text-align: left;  

}

.save-playlist-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #1db954; /* Spotify green for add/remove button */
  font-size: 0.5rem;
  margin-left: 10px;
  padding: 0px;
}
