.toolbar {
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: space-between; /* Push content to the sides */
  position: fixed; /* Fix position to the top */
  top: 0;
  width: 100%; /* Full width */
}

.profile-section {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  max-width: 160px;
  padding: 0.5rem;
  padding-right: 1rem;
}

.profile-image {
  width: 20px; /* Reduced size */
  height: 20px; /* Maintain aspect ratio */
  margin-right: 0.5rem;
  border-radius: 50%;
}

.user-name {
  font-size: 1rem; /* Adjusted font size */
  color: #333;
  margin: auto;
  width: auto;
}

.logo-section {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  max-width: 120px;
  padding: 0.5rem;
}

.dashboard-spotify-logo {
  width: 100%;
}

.searchbar-section {
  align-items: center;
  box-sizing: border-box;
  display: flex;

  padding: 0.5rem;
  width: 100%;
}

.searchresults-section {
  box-sizing: border-box;
  margin-top: 50px;
  overflow-y: auto; /* Enables vertical scrolling */
  padding: 10px 8px;
  width: 100%;
}

.playlists-section {
  box-sizing: border-box;
  margin-top: 50px;
  max-width: 120px;
padding: 10px 8px;
}

/* Scrollbar */
.searchresults-section::-webkit-scrollbar {
  width: 8px; 
}

.searchresults-section::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.searchresults-section::-webkit-scrollbar-thumb {
  background-color: #1db954; 
  border-radius: 4px; 
}