.create-account-container {
  bottom: 20px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.forgot-password-link, .create-account-link {
  color: #007aff;
  font-size: 1rem;
  text-decoration: none;
}

.login-button {
  font-size: 1rem;
  margin: 0.25rem;
}

.login-container {
  align-items: center; /* Centers horizontally in flex container */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px; /* Prevents it from stretching too wide */
  width: auto; /* Takes the space it needs */
}

.login-input {
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login-spotify-logo {
  padding: 0.25rem;
  width: 70px; /* Spotify's Design Guidelines */
}

.spotify-login-section {
  align-items: center;
  display: flex;
  justify-content: center;
}
